<ion-header>
 
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <h1>PRUEBA TÉCNICA</h1>
    </div>
    <img src="../../assets/company/logo.png" />
    <div class="button-container">
      <ion-button expand="block" color="dark" class="main-button" routerLink="/login" routerDirection="forward">Iniciar sesión</ion-button>
      <ion-button expand="block" color="dark" fill="clear" routerLink="/signup" routerDirection="forward">Inscribirse</ion-button>
    </div>
  </div>
</ion-content>
