<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        color="primary"
        class="backbtn"
        routerLink="/home"
        routerDirection="back"
      >
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="product-slider">
    <ion-slide>
      <img class="imgDetails" src="{{profile.avatar_url}}" />
    </ion-slide>
  </ion-slides>

  <div class="ion-padding-vertical">
    <h1 class="item-name">{{profile.name}}</h1>
    <h4 class="price">ID: {{profile.id}}</h4>
  </div>

  <div class="ion-padding">
   
    <ion-card>
      <ion-card-header> Doughnut Chart </ion-card-header>
      <ion-card-content>
        <canvas
          #doughnutCanvas
          style="position: relative; height: 20vh; width: 40vw"
        ></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
