// This will remove iOS Header Line
ion-toolbar {
    --border-width: 0 !important;
}

// Removing Android Header Line
.header-md::after {
    background: none !important;
}

.container h1 {
    margin-top: 0;
}

.backbtn {
    margin-left: 20px;
}

.form-container {
    margin-top: 48px;
}

.form-container ion-item {
    --padding-start: 0;
    --border-color: #DADADA;
}

.form-container ion-item ion-label {
    color: #A6A6A6;
}

.form-container ion-item ion-icon {
    margin-top: auto;
    color: #c6cbd4;
}

.form-container ion-button {
    margin-top: 48px;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up ion-button {
    margin: 0;
}


