<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/welcome" routerDirection="back">
        <img src="../../assets/back.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding container">
    <h1>Inscribirse</h1>

    <div class="form-container">
      <form [formGroup]="userRegisterForm" >
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input
            name="name"
            type="text"
            formControlName="name"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input
            name="email"
            type="email"
            formControlName="email"
            required
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input
            type="password"
            name="password"
            formControlName="password"
            required
          ></ion-input>
          <ion-icon name="eye" slot="end"></ion-icon>
        </ion-item>

        
        <ion-button expand="block" class="main-button" (click)="register()" [disabled]="userRegisterForm.invalid"  >Registrarme</ion-button>

      </form>
      <div class="sign-up">
        ¿Ya tienes una cuenta?
        <ion-button
          color="dark"
          fill="clear"
          routerLink="/login"
          routerDirection="forward"
          >Iniciar</ion-button
        >
      </div>
    </div>
  </div>
</ion-content>
