ion-menu-button {
    margin-left: 10px;
}

.filter {
    margin-right: 10px;
}

.search {
    margin-bottom: 20px;

    ion-item {
        border-radius: 10px;
        box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.09);
        padding: 8px;

        ion-icon {
            margin-right: 16px;
        }

        ion-input {
            padding-left: 10px !important;
            border-left: 1px solid #F4F4F4;
        }
    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;

    h2 {
        margin: 0 0 0 1px;
        color: #434343;
    }

    p {
        margin: 0 1px 0 0;
        color: #656565;
    }
}

.category-slider {
    ion-slide {
        width: 150px;
        height: 100px;
        margin-right: 1px;
        margin-left: 1px;
        margin-bottom: 1px;

        ion-col {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            h4 {
                color: #ffffff;
                margin: 0;
            }

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
                top: 0;
                left: 0;
                z-index: -1;
                box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.16);
            }
        }
    }
}

.font-bold {
    font-weight: bold;
}

.product-slider {
    margin-bottom: 1px;

    ion-slide {
        width: 150px;
        height: auto;
        margin-left: 1px;
        margin-right: 1px;

        ion-col {
            img {
                width: 100%;
                height: 180px;
                object-fit: cover;
                border-radius: 8px;
            }

            p {
                margin-top: 1px;
                margin-bottom: 0;
                white-space: nowrap;
                overflow: hidden;
            }

            h6 {
                margin-top: 1px;
                margin-bottom: 0;
            }
        }
    }
}

// Removing highlight when focused/clicked on product
ion-slide:focus {
    outline: none !important;
}

ion-col:focus {
    outline: none !important;
}

.backbtn {
    margin-left: 1px;
}

.notification {
    margin-right: 1px;
}

ion-content {
    --padding-top: 1px;
    --padding-bottom: 1px;
    --padding-start: 1px;
    --padding-end: 1px;
}

.title {
    margin-top: 0;
    color: #434343;
}

.favorite-items {
    margin-top: 20px;

    ion-col {
        padding: 10px;
        
        img {
            width: 100%;
            height: 180px;
            object-fit: cover;
            border-radius: 8px;
        }

        p {
            margin-top: 5px;
            margin-bottom: 0;
        }

        h6 {
            margin-top: 5px;
            margin-bottom: 0;
        }
    }
}

.padding-left0 {
    padding-left: 0 !important;
}

.padding-right0 {
    padding-right: 0 !important;
}