<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="user">
      <ion-menu-button>
        <img src="../../assets/menu_bar.svg" />
      </ion-menu-button>
    </ion-buttons>
    <ion-chip *ngIf="user">
      <ion-label>{{user.email}}</ion-label>
    </ion-chip>
    <ion-buttons slot="end">
      <ion-button class="filter" (click)="closeSession()">
        <ion-icon name="log-out"></ion-icon>
        <!-- <ion-icon name="funnel-outline" color="dark"></ion-icon> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search ion-padding">
    <ion-item lines="none">
      <ion-input
        placeholder="Buscador.."
        [(ngModel)]="term"
        (ionChange)="onChange($event)"
      ></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

  <div class="title ion-padding" *ngIf="! term">
    <h2>Categorías</h2>
  </div>

  <ion-row class="favorite-items" *ngIf="term">
    <ion-col size="6" class="ion-text-left padding-left0" *ngFor="let user of data" [routerLink]="['/profile', user.login]">
      <img src="{{user.avatar_url}}" />
      <p>Nombre: {{user.login}}</p>
      <h6>ID: {{user.id}}</h6>
    </ion-col>
  </ion-row>
 


  <ion-infinite-scroll
    threshold="100px"
    (ionInfinite)="loadData($event)"
    *ngIf="term"
  >
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Cargando..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
